html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    overflow: hidden;
    background-color: #000; /* Dark background color */
}

/* Style the navigation bar links */
nav a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: #fff; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
nav a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
nav a:hover {
    background-color: #ddd; /* Grey background color */
    color: #000; /* Black text color */
}

.headerImg{
    background-color: #fff;
    background-image: url(../assets/footerImg.png);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    height:100px;
}

footer{
    overflow: hidden;
    background-color: #000;
}

footer p{
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    text-decoration: none;
}

.page {
  padding-top: 30px;
}


#portfolio{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 30px;
    justify-content: center;
    padding-bottom: 30px;
}

#portfolio article{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#e7e8ea;
    border-radius: 12px;
}

#portfolio article:hover{
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation: pulse 3s infinite;
    -webkit-animation-direction: alternate;
}

article img {
  border-radius: 12px 12px 0px 0px;
}

article a{
    text-decoration: none;
    color: black;
}

article h2, p{
    padding-left: 10px;
}

#contact{
    padding: 30px;
    text-align:center;
    background-color: #000;
    color: #fff;
}

#contact img{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        -webkit-animation: shake 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

.footerDecorator {
    height: 100px;
    background-color: #fff;
    background-image: url(../assets/footerImg.png);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;}


@media screen and (max-width: 1260px){
    #portfolio{
        grid-template-columns: 310px 310px 310px;
    }
}

@media screen and (max-width: 980px){
    #portfolio{
        grid-template-columns: 400px 400px;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 768px){
    #portfolio{
        grid-template-columns: 300px 300px;
        grid-gap: 10px;
    }
}

@media screen and (max-width: 610px) {
    nav a{
      float: none;
      width: 100%;
    }
    #portfolio{
        grid-template-columns: 320px;
    }
}

      
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes pulse {
    0% {
      background-color:e7e8ea;
    }
    100% {
      background-color: rgb(78, 171, 167)
    }
  }

